<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- hibernate的方言 -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- 显示SQL语句 -->
		<property name="show_sql">true</property>
		<!-- 格式化SQL语句 -->
		<property name="format_sql">true</property>
		<!-- 不自动生成数据库 -->
		<property name="hbm2ddl.auto">none</property><!-- none create-->
		
		<!-- 懒加载，配合web.xml中配置的 openSessionInViewFilter -->
		<property name="enable_lazy_load_no_trans">true</property>
        <!--校验模式  JPA  java persistent api-->
		<property name="javax.persistence.validation.mode">none</property>
		
		<!-- 设置事务隔离级别 -->
		<!-- <property name="connection.isolation">4</property> -->
		<!-- 配置当前线程绑定的Session -->
		<!-- <property name="current_session_context_class">thread</property> -->
		
		<!--  加载映射文件-->
		<!-- <mapping resource="com/gitboy/crm/domain/customer.hbm.xml"></mapping> -->
	
	</session-factory>
</hibernate-configuration>